*
  margin: 0px
  padding: 0px

a
  cursor: pointer

.movie_list
  max-width: 500px
  margin: 0px auto

  .filter-buttons
    display: flex
    flex-direction: column

    button
      flex: 1

    .filter-button-main
      display: flex

      button:first-of-type
        margin-right: 1em

      button:last-of-type
        margin-left: 1em

    .filter-button-secondary button
      width: 100%


.wcinema-container
  max-width: 500px
  margin: 0px auto

  button
    width: 100%


.session-info
  display: flex
  justify-content: space-between
  align-items: center

  .outline-cyan
    color: #0dcaf0
    padding: .375rem .75rem

    border: 1px solid #0dcaf0
    border-radius: .25rem

.alert
  margin: 0px
  position: fixed
  bottom: -10em
  left: 50%
  width: 500px

  transform: translate(-50%)
  transition: 1s

.alert-show
  bottom: 1em

  p
    margin: 0px